* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

#wrapper {
    width: 900px;
    margin: 50px auto;
    border: 3px solid blueviolet;
}

#top {
    display: flex;
}

.pod {
    flex: 1;
}

.pod p {
    margin-bottom: 10px;
}

.pod h2, #bottom h2 {
    background-color: royalblue;
    text-align: center;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
}

#dojoBtn, #ninjaBtn {
    margin-left: 30px;
}

#bottom {
    text-align: center;
}

#bottom p {
    font-weight: bolder;
    margin-top: 5px;
}

.dojo_head {
    display: flex;
    margin-left: 350px;
}

